* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  max-width: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

a,
p {
  font-family: "Roboto";
}

h5 {
  font-family: "Architects Daughter";
}

/* NavBar */

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  font-size: smaller;
}

.nav-logo {
  max-height: 75px;
  width: 50%;
}
.nav-logo img {
  height: 100%;
}

.header-right {
  display: flex;
  margin: auto 0;
  justify-content: flex-end;
  flex: 1;
}

.FixedTop {
  background-image: url("../images/header-bg.jpeg");
  position: sticky;
  top: 0;
}

li:hover {
  text-decoration: underline;
  color: #2e3d4d;
}

.our-services {
  background-image: url("../images/woodgrain-bg.jpeg");
}

.efelle-dropdown {
  margin: 0 5%;
}

.hamburger {
  background-color: gray;
  width: 48px;
  height: 48px;
  align-content: center;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.hamburger div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hamburger span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  background: #cdcdcd;
  border-radius: 3px;
}

.hamburger span:last-of-type {
  margin-bottom: 0;
}

.menu-hidden {
  display: none;
}

.menu-show {
  display: block;
}

.homepage-slider {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 75px);
  background-color: #464646;
}

.homepage-masthead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

/* Main */

.wrapper {
  display: flex;
  padding: 0 10%;
}

.text,
.text a {
  color: white;
}

.text h1,
.text h2 {
  text-shadow: 0px 0px 15px black;
}

.text h1 {
  font-family: "Architects Daughter";
  font-size: xx-large;
  margin: 0;
}

.text h2 {
  font-family: "Roboto";
  font-size: xxx-large;
  text-transform: uppercase;
  margin: 0;
}

.text p {
  margin-bottom: 6vh;
}

.text span {
  background: white;
  width: 5vh;
  height: 1px;
}

.text p a {
  background-color: #446286;
  padding: 1.5vh 6vh;
  font-size: x-small;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: aqua;
  }
}

/* Content */

.our-services {
  display: flex;
  flex-direction: column;
}

/* Footer */

.section {
  background: #222427;
  color: white;
}

.row {
  display: flex;
  width: 100%;
  padding: 1em 0;
}

.address-and-copy {
  flex: 1;
}

.phone-and-design {
  text-align: right;
}

.copy {
  font-size: x-small;
}

.copy p {
  color: lightgrey;
}

.copy a {
  color: #446286;
  text-transform: none;
}

.footer-social-icons {
  display: flex;
}

.footer-social-icons a {
  flex: 1;
}
